<style>
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column {
        flex: 50%;
        margin: -5px;
    }
</style>
<div class="row">
    <div class="column">
        <img src="/images/logo_nfdi4ing_white_high.png" alt="NFDI4Ing">
    </div>
    <div class="column">
        <img src="/images/avatar-alex.png" alt="Archetype Alex" style="margin-right: -20px;">
    </div>
</div>
<p style="color:white;font-size:1.8em;">Archetype Alex</p>
