{{ partial "header.html" . }}

{{ if .Params.toc }}
	<h4>Content</h4>
	{{ .TableOfContents }}
{{end}}

{{ if eq .Kind "section" }}
	{{ .Content }}
{{end}}

{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
<ul>
	{{ range .Pages }}
		<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{ end }}
</ul>
{{end}}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}